<nav class="navbar navbar-expand-lg navbar-dark bg-light px-5">
    <a class="navbar-brand" routerLink="home" routerLinKActive>AGS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="home" routerLinKActive >Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="posts" routerLinKActive >Posts</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" routerLink="album" routerLinKActive >Album</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="todo" routerLinkActive>To do</a>
        </li>
      </ul>
      
      <ul class="loginButton">
        <li class="nav-item"><a class="nav-link" routerLink="login" routerLinkActive *ngIf="!loginService.isLoggedIn()">Log In </a>
          <a class="nav-link" (click)="logout()"  *ngIf="loginService.isLoggedIn()">Log Out </a>
          <span class="loginTime" *ngIf="loginService.isLoggedIn()" >Logged in {{loginTime | timeAgo}}</span>
        </li>
      </ul>
    </div>
  </nav>