.col.login-Modal {
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1px solid #b9adad;
    border-radius: 10px;
    box-shadow: 0px 2px 10px #2038a05e;
    background: #2038a05e;
}