
<div class="container my-5">
    <div class="row">
    </div>
    <div class="row">
        <app-message [Message]="message" (messageClosed)='clearMessage()'></app-message>

        <div class="card">
            <div class="card-title">
               <h5 style="text-transform: Capitalize;">{{post.title}}</h5> 
            </div>
            <div class="card-body" style="text-transform: Capitalize;">
                {{post.body}}
                <i class="fa-brands fa-angular"></i>
            </div>
            <p>Engagement on Comments: {{TotalLike}} </p>

            <a (click)="ViewComments()" *ngIf="!ViewComment" style="text-decoration: underline;color: #343ab8;">View All Comments</a>
            <a (click)="ViewComments()" *ngIf="ViewComment" style="text-decoration: underline;color: #343ab8;">Hide All Comments</a>

            <app-comments [postId]="postId" *ngIf="ViewComment" (UpdateTotalLikes)="updateEventHandler($event)" (Message)="getMessage($event)"></app-comments>

        </div>
    </div> 
</div>



