<div class="container-fluid">
  <div class="row">
    <img src="/assets/header.jpg" class="p-0" style="height: 200px;">
  </div>
</div>
<div class="container">
    <div class="row align-items-center justify-content-between pt-5">
      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/assets/album.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Albums</h5>
            <a routerLink="/album" routerLinkActive class="btn btn-primary">View Album</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/assets/posts.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Posts</h5>
            <a  class="btn btn-primary" routerLink="/posts" routerLinkActive >View Posts</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/assets/todo.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">To do</h5>
            <a  class="btn btn-primary" routerLink="/todo">View To Do</a>
          </div>
        </div>
      </div>
    </div>
    </div>
    